In [1]:
import pandas as pd

In [8]:
class DecisionTree:
    def __init__(self, data):
        self.data = data
        self.right = None
        self.left = None

    def printData(self):
        print(self.data)

    def insertData(self, data):
        print(data, self.data)
        self.data = data
        print(data, self.data)


tree = DecisionTree(938)
tree.printData()
print(tree.data, tree.left, tree.right)
print(tree.insertData(203))

938
938 None None
203 938
203 203
None

In [3]:
data_df = pd.read_csv("./assets/play_tennis.csv")

In [4]:
data_df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [ ]:
def Entropy(featureList: pd.Series):
    uniqueVal = featureList.unique()
    entropy = 0
    return entropy

In [8]:
uniqueVal = data_df["play"].unique()
entropy = 0

type(uniqueVal)

numpy.ndarray

In [6]:
opCount = []
k = 0
uniqueVal = data_df["play"].unique()

for i in uniqueVal:
    opCount.append(0)
    for j in data_df["play"]:
        if j == i:
            opCount[k] += 1
    k += 1
    print(i, opCount)
sum(opCount)

No [5]
Yes [5, 9]

14

In [9]:
# outlook be the root

uniqueVal = data_df['outlook'].unique()
entropy = 0

In [22]:
opCount = []
l = 0

for i in uniqueVal:
    l = 0
    opCount = []
    print(f"iteration {i}")
    for j in data_df['play'].loc[data_df['outlook'] == i].unique():
        opCount.append(0)
        for k in data_df['play'].loc[data_df['outlook'] == i]:
            if k == j:
                opCount[l] += 1
        l += 1
        print(j, opCount)

iteration Sunny
No [3]
Yes [3, 2]
iteration Overcast
Yes [4]
iteration Rain
Yes [3]
No [3, 2]

In [15]:
data_df['play'].loc[data_df['outlook'] == 'Sunny'].unique()

array(['No', 'Yes'], dtype=object)

In [19]:
for i in uniqueVal:
    print(data_df[['outlook', 'play']].loc[data_df['outlook'] == i])

   outlook play
0    Sunny   No
1    Sunny   No
7    Sunny   No
8    Sunny  Yes
10   Sunny  Yes
     outlook play
2   Overcast  Yes
6   Overcast  Yes
11  Overcast  Yes
12  Overcast  Yes
   outlook play
3     Rain  Yes
4     Rain  Yes
5     Rain   No
9     Rain  Yes
13    Rain   No

In [11]:
data_df['outlook'].loc[data_df['outlook'] == uniqueVal[0]]

0     Sunny
1     Sunny
7     Sunny
8     Sunny
10    Sunny
Name: outlook, dtype: object

In [12]:
data_df[['outlook', 'play']].loc[data_df['outlook'] == uniqueVal[0]]

   outlook play
0    Sunny   No
1    Sunny   No
7    Sunny   No
8    Sunny  Yes
10   Sunny  Yes

In [13]:
data_df['play'].loc[data_df['outlook'] == uniqueVal[0]]

0      No
1      No
7      No
8     Yes
10    Yes
Name: play, dtype: object