In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [282]:
data_df = pd.read_csv('./Assets/Data.csv')

In [283]:
data_df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [255]:
data_df.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [284]:
dependant_df = data_df["Purchased"]
independent_df = data_df[["Country", "Age", "Salary"]]

In [285]:
dependant_df.head()

0     No
1    Yes
2     No
3     No
4    Yes
Name: Purchased, dtype: object

In [286]:
independent_df.head()

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

In [259]:
independent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  10 non-null     object
 1   Age      9 non-null      float64
 2   Salary   9 non-null      float64
dtypes: float64(2), object(1)
memory usage: 368.0+ bytes

In [260]:
independent_df.dtypes

Country     object
Age        float64
Salary     float64
dtype: object

In [287]:
age_mean = round(independent_df["Age"].mean())
salary_mean = round(independent_df["Salary"].mean())

print(f"Age mean : {round(age_mean, 2)}, Salary mean : {round(salary_mean, 2)}")

Age mean : 39, Salary mean : 63778

In [262]:
round(age_mean)

39

In [263]:
independent_df[independent_df["Age"].isnull()]

  Country  Age   Salary
6   Spain  NaN  52000.0

In [288]:
independent_df["Age"] = independent_df["Age"].fillna(value=age_mean)

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\1596979218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Age"] = independent_df["Age"].fillna(value=age_mean)

In [289]:
independent_df["Salary"] = independent_df["Salary"].fillna(value=salary_mean)

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\1020580355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Salary"] = independent_df["Salary"].fillna(value=salary_mean)

In [290]:
independent_df

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0  63778.0
5   France  35.0  58000.0
6    Spain  39.0  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [126]:
unique_val = independent_df["Country"].unique().tolist()

In [267]:
k = 0
for i in independent_df["Country"]:
    if i == "Germany":
        independent_df["Country"].loc[k] = 1
    elif i == "Spain":
        independent_df["Country"].loc[k] = 2
    else:
        independent_df["Country"].loc[k] = 3
    k += 1

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\3914353903.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Country"].loc[k] = 3
C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\3914353903.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Country"].loc[k] = 2
C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\3914353903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Country"].loc[k] = 1

In [268]:
independent_df

  Country   Age   Salary
0       3  44.0  72000.0
1       2  27.0  48000.0
2       1  30.0  54000.0
3       2  38.0  61000.0
4       1  40.0  63778.0
5       3  35.0  58000.0
6       2  39.0  52000.0
7       3  48.0  79000.0
8       1  50.0  83000.0
9       3  37.0  67000.0

In [191]:
bmi_df = pd.read_csv('./Assets/BMIDataset.csv')

In [192]:
bmi_df

  Ageyr Weight    BMI Healty
0  10yr   15kg  15-25    yes
1  15yr   25kg  18-23    yes
2  22yr   50kg    4-5     no
3  19yr   53kg   9-10     no

In [132]:
bmi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ageyr   4 non-null      object
 1   Weight  4 non-null      object
 2   BMI     4 non-null      object
 3   Healty  4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes

In [136]:
bmi_df["Ageyr"].loc[0][:2]

'10'

In [142]:
bmi_df.shape

(4, 4)

In [193]:
def cleanData(df, col):
    for row in range(df.shape[0]):
        df[col].loc[row] = df[col].loc[row][:2]
    return df

In [194]:
bmi_df = cleanData(bmi_df, "Ageyr")

In [195]:
bmi_df = cleanData(bmi_df, "Weight")

In [196]:
bmi_df

  Ageyr Weight    BMI Healty
0    10     15  15-25    yes
1    15     25  18-23    yes
2    22     50    4-5     no
3    19     53   9-10     no

In [197]:
def changeType(df, col):
    df[col] = df[col].astype(int)
    return df

In [198]:
bmi_df["Ageyr"] = bmi_df["Ageyr"].astype(int)

In [200]:
bmi_df["Weight"] = bmi_df["Weight"].astype(int)

In [201]:
bmi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ageyr   4 non-null      int32
 1   Weight  4 non-null      int32
 2   BMI     4 non-null      object
 3   Healty  4 non-null      object
dtypes: int32(2), object(2)
memory usage: 224.0+ bytes

In [202]:
bmi_df

   Ageyr  Weight    BMI Healty
0     10      15  15-25    yes
1     15      25  18-23    yes
2     22      50    4-5     no
3     19      53   9-10     no

In [203]:
for row in range(bmi_df.shape[0]):
    obs = bmi_df["BMI"].loc[row].split('-')

    low, high = obs
    low, high = int(low), int(high)

    bmi_df["BMI"].loc[row] = low + high / 2

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\2699513067.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmi_df["BMI"].loc[row] = low + high / 2

In [204]:
bmi_df

   Ageyr  Weight   BMI Healty
0     10      15  27.5    yes
1     15      25  29.5    yes
2     22      50   6.5     no
3     19      53  14.0     no

In [206]:
bmi_df["BMI"] = bmi_df["BMI"].astype(float)

In [207]:
bmi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ageyr   4 non-null      int32
 1   Weight  4 non-null      int32
 2   BMI     4 non-null      float64
 3   Healty  4 non-null      object
dtypes: float64(1), int32(2), object(1)
memory usage: 224.0+ bytes

In [208]:
bmi_df

   Ageyr  Weight   BMI Healty
0     10      15  27.5    yes
1     15      25  29.5    yes
2     22      50   6.5     no
3     19      53  14.0     no

In [269]:
independent_df

  Country   Age   Salary
0       3  44.0  72000.0
1       2  27.0  48000.0
2       1  30.0  54000.0
3       2  38.0  61000.0
4       1  40.0  63778.0
5       3  35.0  58000.0
6       2  39.0  52000.0
7       3  48.0  79000.0
8       1  50.0  83000.0
9       3  37.0  67000.0

In [271]:
dependant_df

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [217]:
independent_df.shape[0]

10

In [272]:
data_df = pd.concat([independent_df, dependant_df], axis=1)
data_df

  Country   Age   Salary Purchased
0       3  44.0  72000.0        No
1       2  27.0  48000.0       Yes
2       1  30.0  54000.0        No
3       2  38.0  61000.0        No
4       1  40.0  63778.0       Yes
5       3  35.0  58000.0       Yes
6       2  39.0  52000.0        No
7       3  48.0  79000.0       Yes
8       1  50.0  83000.0        No
9       3  37.0  67000.0       Yes

In [273]:
percent = 90
split = (percent / 100) * data_df.shape[0]

training_df = data_df.loc[:split - 1]
testing_df = data_df.loc[split:]

In [274]:
training_df

  Country   Age   Salary Purchased
0       3  44.0  72000.0        No
1       2  27.0  48000.0       Yes
2       1  30.0  54000.0        No
3       2  38.0  61000.0        No
4       1  40.0  63778.0       Yes
5       3  35.0  58000.0       Yes
6       2  39.0  52000.0        No
7       3  48.0  79000.0       Yes
8       1  50.0  83000.0        No

In [236]:
testing_df

  Country   Age  Salary Purchased
9       3  37.0    37.0       Yes

In [238]:
training_df.index

RangeIndex(start=0, stop=9, step=1)

In [291]:
independent_df["Age"] = independent_df["Age"].apply(lambda x: x / independent_df["Age"].max())

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\1752027979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Age"] = independent_df["Age"].apply(lambda x: x / independent_df["Age"].max())

In [293]:
independent_df["Salary"] = independent_df["Salary"].apply(lambda x: x / independent_df["Salary"].max())

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_71988\1186150537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  independent_df["Salary"] = independent_df["Salary"].apply(lambda x: x / independent_df["Salary"].max())

In [294]:
independent_df

   Country   Age    Salary
0   France  0.88  0.867470
1    Spain  0.54  0.578313
2  Germany  0.60  0.650602
3    Spain  0.76  0.734940
4  Germany  0.80  0.768410
5   France  0.70  0.698795
6    Spain  0.78  0.626506
7   France  0.96  0.951807
8  Germany  1.00  1.000000
9   France  0.74  0.807229

In [281]:
independent_df

0    0.88
1    0.54
2    0.60
3    0.76
4    0.80
5    0.70
6    0.78
7    0.96
8    1.00
9    0.74
Name: Age, dtype: float64

In [295]:
independent_df.to_csv('./Assets/Independant.csv')
dependant_df.to_csv('./Assets/Dependant.csv')

In [296]:
bmi_df.to_csv('./Assets/CleanBMIData.csv')